{% extends "layout.html" %}

{% block title %}
    Blog OR Tweets

{% endblock  %}


{% block content %}
<h1> Welcome to Tweet's Blog Application
</h1>

{% endblock %}











{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #212121;
            color: white;
            display:flex;
            justify-content:center;
            text-align:center;

        }
    </style>
</head>
<body>
    <h1> Test Templates </h1>
</body>
</html> {% endcomment %}